<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.104.2">
    <title>OSSP_Team_23</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/blog/">
    <link href="/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .page-title:after {
            content: "";
            display: block;
            clear: both;
        }

        .my-link:hover {
            text-decoration: underline !important;
        }

        .page {
            text-align: center;
            align-items: center;
            background-color: #f9f9f9;
            padding: 20px;
            margin: 10px 0 10px 0;
            border-radius: 10px;
            border: #e5e5e5 .05rem solid;
            margin-bottom: 20px;
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/blog.css" rel="stylesheet">

  </head>
  <body>
<div id="wrap">
    <%- include('./header') %>

<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
    <div class="px-0">
      <h1 class="display-4 fst-italic">적성 검사로 나한테 맞는 전공 찾기 :)</h1>
      <p class="lead my-3"><b><니드커넥트></b>는 전공을 아직 선택하지 못한 학생들을 위해 재미있고 간단한 적성 검사를 제공합니다.<br>아래 링크에서 참여해 보세요!</p>
      <p class="lead mb-0"><a href="/survey" class="text-white fw-bold">재미로 해 보는 적성 검사</a></p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">article</strong>
          <h3 class="mb-0">수능날 서울 지하철·버스 추가운행…"6시부터 집중배차"</h3>
          <div class="mb-1 text-muted">2022년 11월 15일</div>
          <p class="card-text mb-auto">수능전 확진자·유증상자 별도·분리 시험장 마련<br>
            수능날 지하철·버스 증회운행 및 안전인력 배치</p>
          <a href="https://newsis.com/view/?id=NISX20221115_0002086376&cID=10201&pID=10200" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="https://www.busan.com/nas/wcms/wcms_data/photos/2022/11/15/2022111515595233779_l.jpg" height="250"></image>
          </svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">article</strong>
          <h3 class="mb-0">17일 수능… 출근 시간 오전 10시로 조정</h3>
          <div class="mb-1 text-muted">2022년 11월 15일</div>
          <p class="mb-auto">공공기관·50인 이상 기업체 등<br>
            오전 6~8시 시내버스 집중배차</p>
          <a href="https://www.busan.com/view/busan/view.php?code=2022111516063669622" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="https://image.newsis.com/2022/11/03/NISI20221103_0019423096_web.jpg?rnd=20221103144446" height="250"></image>
          </svg>

        </div>
      </div>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
        <div class="p-4 mb-3 bg-light rounded">
            <div class="page-title my-3 mx-3">
                <h2 style="float: left; font-family: monospace; font-weight: 800;">게시판</h2>
                <a href="/board"><p class="my-link" style="float: right; padding-top: 10px; color: black;">더 많은 게시글 보러 가기 >>></p></a>
            </div>

            <div class="px-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 60%;">제목</th>
                        <th scope="col" style="width: 20%;">작성자</th>
                        <th scope="col" style="width: 20%;">작성일</th>
                    </tr>
                    <% posts.sort(function(a, b) { return b.id - a.id });
                    posts.slice(0, 20).forEach(post => { %>
                    <tr>
                        <td><a class="my-link" href="/board/<%= post.id %>" style="color: black; text-decoration: none;">
                            <% if (post.title.length <= 20) { %>
                            <%= post.title %>
                            <% } else { %>
                            <%= post.title.slice(0,20) + "···" %>
                            <% } %>
                        </a></td>
                        <% if (post.writer.nickname.length <= 7) { %>
                            <td><%= post.writer.nickname %></td>
                        <% } else { %>
                            <td><%= post.writer.nickname.slice(0,6) + "···" %></td>
                        <% } %>
                        <td><%= post.created_at.slice(0, 10) %></td>
                    </tr>
                    <% }) %>
                    </thead>
                    <tbody id="table-body" class="table-group-divider">

                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic"><b>대학수학능력시험</b></h4>
          <ul>
            <li class="mb-0">대학 교육에 필요한 수학 능력 측정으로 선발의 공정성과 객관성 확보</li>
            <li class="mb-0">고등학교 교육과정의 내용과 수준에 맞는 출제로 고등학교 학교교육의 정상화 기여</li>
            <li class="mb-0">개별 교과의 특성을 바탕으로 신뢰도와 타당도를 갖춘 시험으로서 공정성과 객관성 높은 대입 전형자료 제공</li>
          </ul>
        </div>

        <div class="p-4">
          <h4 class="fst-italic"><b>주요 일정</b></h4>
          <ol class="list-unstyled mb-0">
            <li><b>원서교부</b> &nbsp; &nbsp; &nbsp; &nbsp; 8.18.(목) ~ 9.2.(금)</li>
            <li><b>시험실시</b> &nbsp; &nbsp; &nbsp; &nbsp; 11.17.(목)</li>
            <li><b>이의신청</b> &nbsp; &nbsp; &nbsp; &nbsp; 11.17.(목) ~ 11.21.(월)</li>
            <li><b>정답확정</b> &nbsp; &nbsp; &nbsp; &nbsp; 11.29.(화)</li>
            <li><b>채점</b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;11.18.(금) ~ 12.9.(금)</li>
            <li><b>성적통지</b> &nbsp; &nbsp; &nbsp; &nbsp; 12.9.(금)</li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic"><b>기출 문제</b></h4>
          <ol class="list-unstyled">
            <li><a href="https://www.suneung.re.kr/boardCnts/list.do?boardID=1500234&m=0403&s=suneung&searchStr=">바로가기</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</main>
</div>

    <%- include('./footer') %>

  </body>
</html>
